body {
    font-family: Open Sans;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

#start-survey {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    position: absolute;
    z-index: 2000;
    left: 0;
    text-align: center;
    transition: 0.5s ease-in-out;
    transform: translateX(0);
  }
  #start-survey.remove {
    transform: translateY(-100%);
    opacity: 0;
  }
  #start-survey .start-survey-items h1 {
    font-size: 30px;
    margin: 0 0 20px 0;
  }
  #start-survey .start-survey-items p {
    margin: 0 0 30px 0;
  }
  #start-survey .start-survey-items p strong {
    font-weight: 900;
  }
  #start-survey .start-survey-items div {
    display: inline-block;
    padding: 20px;
    border-radius: 5px;
    background: #207bb4;
    color: white;
    box-shadow: inset 0 0 0 #08598c;
    transition: 0.25s ease-in-out;
    cursor: pointer;
  }
  #start-survey .start-survey-items div:hover {
    box-shadow: inset 200px 0 0 #08598c;
  }

h1 {
    text-align: center;
}

#title p {
    text-align: center;
    margin: 0 0 30px 0;
    font-weight: 900;
}

#quiz {
    text-indent: 10px;
    display:none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
	text-decoration: none;
	border: 1px solid lightgray;
	margin:10px;
	padding: 10px;
}

li:hover {
	background: #ECEEF0;
}

.button {
    border:4px solid;
    border-radius:5px;
    width: 40px;
    padding-left:5px;
    padding-right: 5px;
    position: relative;
    float:right;
    background-color: #DCDCDC;
    color: black;
    margin: 0 2px 0 2px;
}

.button.active {
    background-color: #F8F8FF;
    color: #525252;
}

button {
    position: relative;
    float:right;
}

.button a {
    text-decoration: none;
    color: black;
}

#container {
    width:50%;
    margin:auto;
    padding: 0 25px 40px 10px;
    background-color: #1E90FF;
    border:4px solid #B0E0E6;
    border-radius:5px;
    color: #FFFFFF;
    font-weight: bold;
    box-shadow: 5px 5px 5px #888;
}


#prev {
    display:none;
}

#start {
    display:none;
    width: 90px;
}